* { /* El "*" modifica los atributos de todo el contenido de la pagina */
    margin: 0px; /* Establece el margen inicial para todas las etiquetas en 0px */
    padding: 0px; /* Establece el padding inicial para todas las etiquetas en 0px */
    text-decoration: none; /* Ningun texto posee una decoracion como subrayado, esto se usa para que las etiquetas "<a>" no muestren la decoracion por defecto */
    list-style: none; /* Listas creadas con etiquetas "<li>" */
    color: #fff; /* Establece el color de todos los textos en blanco */
    background-color: #1f1f1f; /* Establece el color del fondo de toda la pagina */
    font-family: Verdana; /* Determina que todos los textos de la pagina se mostraran con esta fuente */
}
h1 { /* Afecta a todos los h1 de la pagina */
    background-color: red;
}
input { /* Afecta a todos los input de la pagina */
    margin: 30px; /* le da un margen de 30 pixeles */
}

#inp-user {
    outline: none;
    background-color: white;
    color: black;
    border: none;
    border-bottom: red 2px solid;
    padding: 10px;
    text-align: center;
}
#inp-pwd {
    background-color: white;
    border: rgb(179, 179, 179) 1px solid;
    text-align: center;
    padding: 15px;
    color: black;
    transition: all 0.5s;
    border-radius: 9px;
}
#inp-pwd:focus {
    border: rgb(93, 233, 238) 1px solid;
}
#inp-mail {
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: black;
    border: white 1px solid;
    transition: all 0.7s;
    padding: 20px;
}
#inp-mail:hover {
    color: black;
    border: black 1px solid;
    background-color: white;
}
#inp-mail:focus {
    color: yellow;
    border: yellow 1px solid;
    background-color: #424242;
}

#id_de_una_etiqueta { /* Las id(incluidas como atributos en las etiquetas) se llaman desde el css con un "#" */
    color: blueviolet; /* Determina el color de las letras */
}
.clase_de_una_etiqueta { /* Las class(incluidas como atributos en las etiquetas) se llaman desde el css con un "." */
    background-color: turquoise; /* Determina el color del fondo */
}

@keyframes ejemplo { /* Creamos una animacion llamada "ejemplo" */
    from {background-color: red; border: turquoise solid 5px;}
    to {background-color: yellow; border: yellowgreen solid 5px;}
}

div {
    height: 130px;
    width: 130px;
    background-color: white;
}

.b-ex {
    background-color: rgb(22, 22, 22);
    color: whitesmoke;
    border: rgb(234, 238, 0) 3px solid;
    border-radius: 7px;
    padding: 15px;
    font-size: 15px;
    transition: all 0.5s;
    margin: 15px;
}
.b-ex:hover {
    background-color: rgb(234, 238, 0);
    color:rgb(22, 22, 22);
    box-shadow: rgb(224, 172, 0) 4px 4px 8px;
}
.b-ex:focus {
    background-color: white;
    color:rgb(22, 22, 22);
    border: rgb(34, 139, 129) 3px solid;
    box-shadow: turquoise 0px 0px 25px;
}
#ex-button {
    margin: 20px;
    padding: 20px;
    color: white;
    border: 5px solid red;
}